<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paul.mapper.StockMapper">
    <select id="countByDate" resultType="com.paul.entity.CountLine">
      select count(*) `count`,stock_query_date `date` from stockDetail
      GROUP BY stock_query_date ORDER BY stock_query_date desc
    </select>
</mapper>